/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-toggle {
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.1), -1px 1px 4px 1px rgba(0, 0, 0, 0.06);
 }

.left-4 {
  left: 4%;
}

.left-96 {
  left: 96%
}